


.review-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 15px auto;

  

}

.review-p{
  font-size: 16px;
  color: #2c3e50;
 

}

.review-h5{
color: #2c3e50;
font-size: 18px;
font-weight: 600;
}

.review-h6{
  color: #2c3e50;
  font-size: 16px;
}