.galleryImg{
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    border: 1px solid red;
    margin: 10px 0 ;
}


.galleryImg:hover .hoverStyle{
    color: #ffffff;
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s ease-in-out;
    background:rgba(0, 0, 0, 0.7);
}


.text{
    color: #c52020;
    text-decoration: none;
    font-size: 16px;
    transition: .5s;
    display: none !important;
}


.galleryImg:hover .text{
    display: block !important;
}



.text:hover{
    font-size: 20px;
    color: #ef3365 !important;
    font-weight: 600;
}



