.skillDetails{
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    position:relative;
}

.skillDetails:hover::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( to bottom, #ef3365 0%, #000000 100%);
    opacity: 0.8;
}

.team-details{
    display: none;
}

.skillDetails:hover .team-details{
color: #ffffff;
position: absolute;
z-index: 9999;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
transition: .5s ease-in-out;
}


.socialLink a{
    padding: 0 6px;
    text-align: start !important;
}


.icon:hover{
    color: aqua !important;
    transition: all .9s ease-in-out;
    transform: rotate(90deg);
    font-size: 25px !important;
}




