.bg-hero{
    background: linear-gradient(to right, #163341, #4b334b);
    position: relative;
    z-index: 1;
}

.hero-height{
    padding-top: 25px !important;
    padding-bottom: 150px !important;
}

.custom-shape-1{
    background: linear-gradient(to right, #163341, #4b334b);
    height: 180px;
    width: 500px;
    border-radius: 100px;
    transform: rotate(45deg);
    margin-left: -150px;
    opacity: 50%;

}


.custom-shape-2{
    background: linear-gradient(to right, #163341, #4b334b);
    height: 180px;
    width: 500px;
    border-radius: 100px;
    transform: rotate(45deg);
    margin-left: -280px;
    margin-top: 250px;
    opacity: 50%;
}


.custom-shape-3{
    background: linear-gradient(to right, #163341, #4b334b);
    height: 180px;
    width: 500px;
    border-radius: 100px;
    transform: rotate(45deg);
    margin-left: 500px;
    margin-top: -230px;
    opacity: 35%;
}


.shape-main{
   position: absolute;
   z-index: -1;
}


/* .hero-content{
    align-items: center;
    background: red;
} */


/* .imageDiv-main{
    position: absolute;
    right: 10%;
} */


/* .imgRowHeight{
height: 1080px;
} */

.hero-title{
    font-size: calc(2rem + 1.5vw);
    color: #ef3365;
    text-transform: uppercase;
    font-weight: 700;
    
}


.hero-content p{
    font-size: 16px;
    color: #ffffff;
    }



    /* .imageSize{
        max-width: 700px;
       
    } */


