body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.font-color{
  color: #ef3365;
}

.bg-color{
  background-color: #ef3365;
}

.btn-custom-outline{
  background: none;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  transition: .5s ease-in-out;

  font-size: 16px;
}


.btn-custom-outline:hover{
  background-color: #ef3365;
  border: 2px solid #ef3365;
  cursor: pointer;
}

code {
  font-family: 'Montserrat', sans-serif;
}
